.answer-card-artist {
    border: 1px solid gray;
    background-color: #fab1a0;
    width: 150px;
    height: 50px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.answer-card-track {
    border: 1px solid gray;
    background-color: #00cec9;
    width: 150px;
    height: 50px;
    display: grid;
    justify-content: center;
    align-content: center;
}